/* titillium-web-200 - latin */
@font-face {
    font-family: "Kanit";
    font-style: Regular;
    font-weight: 400;
    src: url("../assets/fonts/Kanit/Kanit-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background: rgb(255, 241, 215);
}